*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}


#logo{
    background:  url('./imgenes/logo.png');
    width: 160px;
    height: 80px;
    background-size: cover ;
    text-indent: -1000px;
    overflow: hidden;
    margin-bottom: 1.5rem;

}


#logo a {
    display: block;
    height: 60px;
}

nav ul li{
    display: inline-block;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

nav a:hover{
    color: brown;
    
}

#home{
    background: linear-gradient(180deg, rgba(31,31,31,0.7637429971988796) 35%, rgba(121,9,52,1) 81%) , url('./imgenes/portada.jpg') no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 2em;
    text-align: center;
    

}

#home h2{
color: white;
font-size: 3.5rem;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Personajes{
    text-align: center;
    padding: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#Personajes h2{
    font-size: 2.3rem;
    margin: 1em 0;
}

#Personajes div{
    display: flex;
    flex-direction:column;
    gap: 10px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

#Personajes img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

#Personajes article{
    border: 2px solid lightgoldenrodyellow;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgb(0,0,0,0.2) ;
}


#Personajes h3{
    margin: 1em 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}







#reseñas{
    text-align: center;
    padding: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#reseñas h2{
    font-size: 2.3rem;
    margin: 1em 0;
}

#reseñas div{
    display: flex;
    flex-direction:column;
    gap: 10px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

#reseñas img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

#reseñas article{
    border: 2px solid rgb(153, 56, 56);
    padding: 1em;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgb(0,0,0,0.2) ;
}


#reseñas h3{
    margin: 1em 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}











footer li{
    font-size: 3rem;
    
}

footer a{
    color: black;
}

footer {
    float: right;
    background-color: rgba(121,9,52,1);
    height: 200px;
    width: 100%;
    font-size: 20px;
 
    
}

footer p{
    text-align: center;
    line-height: 130px;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

ul{
    list-style: none;
    margin-left: 800PX;
    display: inline-block;
    position: relative;
}



#FONDO{
    background-image: url(imgenes/banner.jpeg);
    background-size: cover;
    height: 500px;
    padding: 2em;
    text-align: center;
    display: block;
    
}

.blancotitulo{
    color: rgb(148, 49, 49);
    text-align: center;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.3rem;
    margin: 1em 0;

}

.blanco{
    color: white;
    text-align: center;
    padding: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.3rem;
    margin: 1em 0;

}



#redes{
    margin-left: 880px;
}

#fb{
    margin: 20px;
}

@media screen and (min-width:800px){
    header{
        flex-direction: row;

    }

    #home{
        background: linear-gradient(180deg, rgba(31,31,31,0.7637429971988796) 35%, rgba(121,9,52,1) 81%) , url('./imgenes/portada.jpg') no-repeat;
        text-align: left;

    }
    #home h2{
        font-size: 5rem;
    }

    #Personajes div{
   
        flex-direction: row;
    }
}